{% load static %}

<!DOCTYPE html>
<html>
{% block head %}
<head>
    <meta charset="utf-8">
    <title>{% block title %}{% endblock %}</title>
    {% comment %} <link rel="icon" type="image/png" href={% static fav_icon %}> {% endcomment %}

    {% block style %}
    <style>
     /* unvisited link */
    a {
        text-transform: uppercase;
        font-size: smaller;
    }

    a:link {
        color: #999999;
        text-decoration: none;
    }

    /* visited link */
    a:visited {
        color: #999999 !important;
    }

    /* mouse over link */
    a:hover {
        color: #716447 !important;
        white-space:nowrap;
    }

    *,
	*:before,
	*:after {
		box-sizing: border-box;
	}

	:root{
		background-color: #FFFFFF;
		color: white;
        font-family: 'Roboto', sans-serif !important;
	}

	/* h1 {width:100%; background:#143A3D; color:#7DE186; padding:20px; text-align:center; letter-spacing:5px; text-transform:uppercase; font-family:Raleway; text-shadow:0 0 4px #7DE186; box-shadow:0 0 25px 0 rgba(0,0,0,0.25);} */

	.container-fluid {margin:3rem auto; background-color: #FFFFFF;}

	.sidebar {
		color: white;
		text-align: right;
        position: fixed;
	}

    @media only screen and (min-width: 300px) and (max-width: 1199px) {
        .container-fluid{
            margin-top: 0px;
        }
        .sidebar {
            color: white;
            text-align: right;
            position: fixed;
            z-index: 99;
            background-color: white;
            padding-top: 20px
        }
        .content-block {

        }
        .title {
            text-align: center; 
            margin-top: 1rem; 
            margin-bottom: 0.25rem; 
            color: #716447; 
            font-size: 2rem;
        }
        .title-number{
            margin-bottom: 0rem; 
            font-size: large;
        }
        .filter-title{
            text-align: center; 
            margin-top: 3rem; 
            margin-bottom: 0.25rem; 
            color: #999999; 
            font-size: large;
        }
        .logo{
            width: 35vw !important;
            display: block;
            margin-left: auto;
            margin-right: auto;
        }
        a {
            text-align: center;
            text-transform: uppercase;
            font-size: medium;
        }
        .row-item{
            float: left; 
            width: 25%;
            font-weight: bold;
        }
    }

    @media (min-width: 1200px) {
        .sidebar {
            color: white;
            text-align: right;
            position: fixed;
        }
        .content-block {
            margin-left: 16.666vw;
        }
        .title {
            text-align: center; 
            margin-top: 1rem; 
            margin-bottom: 0.25rem; 
            color: #716447; 
            font-size: large;
        }
        .title-number{
            margin-bottom: 0rem; 
        }
        .filter-title{
            text-align: right; 
            margin-top: 3rem; 
            margin-bottom: 1.25rem; 
            color: #999999; 
            font-size: large;
        }
        .logo{
            height: 100%;
        }
        a {
            text-align: right;
        }
    }

    </style>
    {% endblock %}

    {% block pagestyle %}
    {% endblock %}

</head>
{% endblock %}

{% block body %}
<body>
    <main>
        <div class="container-fluid">
            <div class="row box">
                <div class="col-xl-2 sidebar ">
                    <div class="row">
                        <img src='/static/logo.jpg' alt="" class="logo"/>
                        <p class="title">Jaco Cilliers Commercial Photography</p>
                        <p class="title title-number" >+27 82 899 9723</p>
                    </div>
                    <div class="row" >
                        <p class="filter-title" >FILTER BY:</p>
                    </div>
                    <div class="row">
                        <a href="/">ALL</a>
                    </div>
                    {% for category in categories %}
                    <div class="row row-item">
                        <a href={% url 'category' category.id %}>{{category.name}}</a>
                    </div>
                    {% endfor %}
                </div>
                {% block content %}
                {% endblock %}
            </div>
        </div>
    </main>
</body>
{% endblock %}

{% block scripts %}
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script type="text/javascript">
    window.addEventListener('resize', function(event){
        if(document.querySelector('body').offsetWidth < 1200){
            document.querySelector('.content-block').style.marginTop = document.querySelector('.sidebar').offsetHeight + 'px';
        } else {
           document.querySelector('.content-block').style.marginTop = '0px'; 
        }
    });
    window.onload = function() {
        if(document.querySelector('body').offsetWidth < 1200){
            document.querySelector('.content-block').style.marginTop = document.querySelector('.sidebar').offsetHeight + 'px';
        } else {
           document.querySelector('.content-block').style.marginTop = '0px'; 
        }
    };
    </script>
{% endblock %}

{% block pagescripts %}
{% endblock %}

</html>