{% extends 'base.html' %}

{% block pagestyle %}
<style>
	.fullpage {
		max-width: 100%;
		max-height: 90vh;
		bottom: 0;
		left: 0;
		margin: auto;
		overflow: auto;
		right: 0;
		top: 0;
		-o-object-fit: contain;
		object-fit: contain;
	}

	.content {
		position:absolute; 
		height:0; 
		width:0; 
		top:50%; 
		left:50%; 
		transform:translate(-50%,-50%); 
		background:rgba(0,0,0,0.65); 
		z-index:1; display:flex; 
		justify-content:center; 
		flex-direction:column; 
		height:100%; 
		width:100%; 
		transition: 
		0.3s ease-in-out; 
		opacity:0; 
		border:1px solid black;
	}

	.content p {opacity:0; transition-delay:1s; transition:0.3s ease; font-size:20px;}
		
	</style>
{% endblock pagestyle %}

{% block content %}
        <div class="col-xl-10">
			<img class="fullpage" src='{{images}}' alt="" />
        </div>
{% endblock content %}
