{% extends 'base.html' %}

{% block pagestyle %}
<style>
	@media (min-width: 1200px) {
		.row_images {
			column-width: 30em;
			-moz-column-width: 30em;
			-webkit-column-width: 30em;
			
			column-gap: 0.1rem;
			-moz-column-gap: 0.1rem;
			-webkit-column-gap: 0.1rem;
		}
	}
	@media only screen and (min-width: 300px) and (max-width: 1199px) {
		.row_images {
			column-width: 20em;
			-moz-column-width: 20em;
			-webkit-column-width: 20em;
			
			column-gap: 0.1rem;
			-moz-column-gap: 0.1rem;
			-webkit-column-gap: 0.1rem;
		}
	}

	.item {
		display: inline-block; 
		width: 100%;
		text-align:center;
		margin:0.5rem auto;
		position:relative;
		padding:6px;
		transition: 0.3s ease;
		font-size: 0;
	}

	.item img {
		max-width:100%;
		transition: 0.3s ease;
	}

	.content p {opacity:0; transition-delay:1s; transition:0.3s ease; font-size:20px;}

	{% comment %} .item:hover img {box-shadow:0 10px 15px 0 rgba(0,0,0,0.25);} {% endcomment %}
	{% comment %} .item:hover .content {height:calc(100% - 30px); width:calc(100% - 30px); opacity:1;}
	.item:hover .content p {opacity:1; color:#fff;} {% endcomment %}
		

  .masonry-image{
    opacity: 0;
    transition: opacity .25s ease-in-out;
    -moz-transition: opacity .25s ease-in-out;
    -webkit-transition: opacity .25s ease-in-out;
  }
  
	</style>
{% endblock pagestyle %}

{% block content %}
        <div class="col-xl-10 content-block">
            <div class="row_images">
            {% for image in images %}
                <div class="item" >
					<a href='{{image.image.url}}'>
						<img class="masonry-image" data-src='{{image.thumbnail.url}}' alt="" loading="lazy" data-width="{{image.thumbnail.width}}" data-height="{{image.thumbnail.height}}"/>
					</a>
                </div>
            {% endfor %}
            </div>
        </div>
{% endblock content %}

{% block pagescripts %}
<script type="text/javascript">
  var loader = function(e){
	jQuery(e.target).css('height', 'unset');
	jQuery(e.target).css('width', 'unset');
	jQuery(e.target).css('opacity', '1');
  }; 
  jQuery(".masonry-image").on( "load",  loader);
  var mapper = function() {
    var images = jQuery(".masonry-image");
	var window_width = jQuery("body").width();
	var container_width = jQuery(".content-block").width();
	var col_count = 3;
	var image_width = 0;
	if(window_width >= 1200){
		col_count = Math.floor( container_width/480.0 );
	} else {
		col_count = Math.floor( container_width/320.0 );
	}
	image_width = ((container_width)/col_count) - 12;

    for(image of images){
		var ratio = image_width/image.attributes['data-width'].value;
		$(image).css('height', (image.attributes['data-height'].value*ratio)+'px');
		$(image).css('width', image_width+'px');
    }
	for(image of images){
		image.setAttribute("src", image.attributes['data-src'].value);
    }
	
  };
  mapper();

</script>
{% endblock pagescripts %}